body {
  /* fallback background is browser doesn't support linear gradients  */ 
  background-color: rgb(37, 209, 119);
  /* gradient image */
  background-image: linear-gradient(to bottom right, rgba(236, 45, 3 ,0) 0%,  rgba(236, 45, 3 ,1) 60%, rgba(37, 209, 119,0), rgba(37, 209, 119,1));
  /*  100% of the height  */
  height: 100vh;
  /* set the body display to grid */
  display: grid;
  /* center the grid contents */
  place-items: center;
}
h1{
    font-family: fantasy;
    color:black;
}
img{
    width:25%;
    border-radius:50%;
}
#countdown{
    font-family: cursive;
    color:floralwhite;
}